# 第2章: UNIXコマンド
popular-names.txtは，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
import os
data_filepath = os.path.join('data', 'popular-names.txt')
data_filepath

'data/popular-names.txt'

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ

In [2]:
lc = 0
with open(data_filepath) as f:
    for s_line in f:
        lc += 1
print(f"行数: {lc:,}")

行数: 2,780

In [3]:
!wc data/popular-names.txt

    2780   11120   55026 data/popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [4]:
conv_filepath = os.path.join(os.path.dirname(data_filepath), 'tmp_a.txt')
with open(data_filepath) as f:
    for s_line in f:
        conv_line = s_line.replace('\t', ' ')
        with open(conv_filepath, mode='a') as f:
            f.write(conv_line)
print(f'output {conv_filepath}')

output data/tmp_a.txt

In [5]:
!head -10 data/tmp_a.txt

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [6]:
!expand -t 1 data/popular-names.txt > data/tmp_b.txt

In [7]:
!head -10 data/tmp_b.txt

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [8]:
os.remove(os.path.join(os.path.dirname(data_filepath), 'col1.txt'))
os.remove(os.path.join(os.path.dirname(data_filepath), 'col2.txt'))

In [9]:
col1_output_filepath = os.path.join(os.path.dirname(data_filepath), 'col1.txt')
col2_output_filepath = os.path.join(os.path.dirname(data_filepath), 'col2.txt')
with open(data_filepath) as f:
    for s_line in f:
        split_line = s_line.split('\t')
        with open(col1_output_filepath, mode='a') as f:
            f.write(split_line[0] + '\n')
        with open(col2_output_filepath, mode='a') as f:
            f.write(split_line[1] + '\n')
print(f'output col1.txt in {col1_output_filepath}')
print(f'output col2.txt in {col2_output_filepath}')

output col1.txt in data/col1.txt
output col2.txt in data/col2.txt

In [10]:
!echo '======= col1 ======='
!head -10 'data/col1.txt'
!echo '======= col2 ======='
!head -10 'data/col2.txt'

======= col1 =======
Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah
======= col2 =======
F
F
F
F
F
F
F
F
F
F

In [11]:
!echo '======= col1 ======='
!cut -f 1 data/col1.txt | head -10
!echo '======= col2 ======='
!cut -f 1 data/col2.txt | head -10

======= col1 =======
Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah
======= col2 =======
F
F
F
F
F
F
F
F
F
F

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [50]:
col1_output_filepath = os.path.join(os.path.dirname(data_filepath), 'col1.txt')
col2_output_filepath = os.path.join(os.path.dirname(data_filepath), 'col2.txt')
output_filepath = os.path.join(os.path.dirname(data_filepath), 'merged_col12.txt')
with open(col1_output_filepath) as f_col1:
    with open(col2_output_filepath) as f_col2:
        for co1, co2 in zip(f_col1, f_col2):
            write_line = '\t'.join([co1.strip(), co2.strip()])
            with open(output_filepath, mode='a') as f:
                f.write(write_line + '\n')
print(f'output file in {output_filepath}')

output file in data/merged_col12.txt

In [51]:
!head -10 data/merged_col12.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [56]:
!paste data/col1.txt data/col2.txt | head -10

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [62]:
display_lines = 10
with open(col1_output_filepath) as f_col1:
    count = 0
    while count < display_lines:
        print(f_col1.readline(), end='')
        count += 1

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [63]:
!head -10 data/col1.txt

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [68]:
display_lines = 10
with open(col1_output_filepath) as f_col1:
    for line in f_col1.readlines()[-display_lines:]:
        print(line, end='')

Liam
Noah
William
James
Oliver
Benjamin
Elijah
Lucas
Mason
Logan

In [64]:
!tail -10 data/col1.txt

Liam
Noah
William
James
Oliver
Benjamin
Elijah
Lucas
Mason
Logan

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [81]:
!pip install more-itertools

Collecting more-itertools
  Downloading more_itertools-8.2.0-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.7 MB/s eta 0:00:011
Installing collected packages: more-itertools
Successfully installed more-itertools-8.2.0

In [85]:
import more_itertools

base_output_filepath = os.path.join('data', 'n_split_col1_{}.txt')
split_line_num = 1390
with open(col1_output_filepath) as f_col1:
    all_lines = f_col1.readlines()
    start_ends_list = list(range(0, len(all_lines)+1, split_line_num))
    for idx, (start_line_num, end_line_num) in enumerate(more_itertools.windowed(start_ends_list, 2,step = 1)):
        output_filepath = base_output_filepath.format(idx)
        with open(output_filepath, mode='a') as f:
            f.writelines(all_lines[start_line_num:end_line_num])

In [75]:
!split -l 1390 data/col1.txt data/n_split_col1.txt

In [88]:
!head -10 data/n_split_col1.txtaa

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [89]:
!head -10 data/n_split_col1_0.txt

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [90]:
!head -10 data/n_split_col1.txtab

James
Robert
John
William
Michael
David
Richard
Thomas
Charles
Larry

In [91]:
!head -10 data/n_split_col1_1.txt

James
Robert
John
William
Michael
David
Richard
Thomas
Charles
Larry

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [25]:
uniq_words = set()
with open(col1_output_filepath) as f_col1:
    for col1 in f_col1:
        uniq_words.add(col1.strip())
print(f'uniq words: {len(uniq_words):.0f}')
for word in sorted(uniq_words)[:10]:
    print(word)

uniq words: 136
Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [30]:
!cut -f 1 data/col1.txt | sort | uniq | wc -l
!cut -f 1 data/col1.txt | sort | uniq | head -10

     136
Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [51]:
with open(data_filepath) as f:
    split_lines = []
    for line in f:
        split_line = line.strip().split('\t')
        split_lines.append(tuple(split_line))

display_lines = 10
for split_line in sorted(split_lines, key=lambda x: int(x[2]))[:display_lines]:
        print('\t'.join(split_line))

Sarah	F	1288	1880
Alice	F	1308	1881
Bertha	F	1320	1880
Bertha	F	1324	1881
Annie	F	1326	1881
Alice	F	1414	1880
Ida	F	1439	1881
Ida	F	1472	1880
Annie	F	1492	1882
Bertha	F	1508	1882

In [54]:
!sort -k 3,3 -n data/popular-names.txt | head -10

Sarah	F	1288	1880
Alice	F	1308	1881
Bertha	F	1320	1880
Bertha	F	1324	1881
Annie	F	1326	1881
Alice	F	1414	1880
Ida	F	1439	1881
Ida	F	1472	1880
Annie	F	1492	1882
Bertha	F	1508	1882
sort: Broken pipe

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [67]:
count_dict = {}
with open(data_filepath) as f:
    for line in f:
        name, _, _, _ = line.strip().split('\t')
        count_dict.setdefault(name, 0)
        count_dict[name] += 1
display_lines = 10
for name, count in sorted(count_dict.items(), key=lambda x: x[1], reverse=True)[:display_lines]:
    print(count, name)

118 James
111 William
108 John
108 Robert
92 Mary
75 Charles
74 Michael
73 Elizabeth
70 Joseph
60 Margaret

In [60]:
!cut -f 1 data/popular-names.txt | sort | uniq -c | sort -r| head -10

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret